.card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: 100%;
}

.card--type-normal {
    background-color: #f9f1e7;
}

.card--type-transparent {
    background-color: rgba(255,255,255,0.85);
}

.card__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2.5em;
    width: 100%;
}

.card__number {
    font-size: 3.6em;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    text-align: center;
    font-weight: 700;
    margin-right: 0.5em;
}

.card--type-normal .card__number {
    color: #f9f1e7;
    background-color: #e97171;
}

.card--type-transparent .card__number {
    color: #fff;
    background-color: #2ec1ac;
}

.card__title {
    font-size: 2.4em;
    line-height: 1.5;
    font-weight: 200;
}

.card__body {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    list-style-type: '\0002b';
}

ul.card__body {
    text-indent: 0.5em;
    padding-inline-start: 1em;
    margin: 0;
    flex-direction: column;
}

.card__description {
    font-size: 2em;
    line-height: 1.5;
    font-weight: 400;
    /* width: 50%; */
}

li.card__description {
    width: 100%;
}

li.card__description:first-child {
    list-style: none;
}

.card__timing,
.card__pricing {
    font-size: 2em;
    line-height: 1.5;
    font-weight: 200;
    text-align: right;
    margin-left: auto;
    /* width: 50%; */
}

.card__pricing::after {
    content: ' руб.';
}

.card__main {
    font-size: 2em;
    line-height: 1.5;
    font-weight: 700;
    width: 100%;
}

.card--snap-to-bottom {
    align-self: flex-end;
}

.card--terse {
    width: 50%;
}

.card__main::before {
    content: '\000AB';
    margin-right: 0.15em;
}

.card__main::after {
    content: '\000BB';
    margin-left: 0.15em;
}

@media screen and (min-width: 960px) {
    .card {
        width: calc(50% - 24px);
    }
}