@import 'header.css';
@import 'section.css';
@import 'hero.css';
@import 'button.css';
@import 'goup.css';
@import 'footer.css';

html {
    /* scroll-behavior: smooth; */
}

.page {
    margin: 0;
    font-size: 62.5%;
    font-weight: 400;
    font-family: 'Fira Sans';
}